**/__pycache__/
*.pyc
*.pyo
*.pyd

deploy/

.dockerignore
.git
.gitignore
.gitlab-ci.yml

.env*

docker-compose.yml
Dockerfile

*.md
*.example

.pre-commit-config.yaml
setup.cfg

.venv/
.vscode/
htmlcov/
